{# Assignmemnts HTML #}
{% extends "base.html" %}

{% block content%}

<div class="container">
        <div class="row">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Assignment Name</th>
                            <th scope="col">Assignment Description</th>
                            <th scope="col">Edit Assignment</th>
                            <th scope="col">Delete Assignment</th>
                        </tr>
                    </thead>
                        {% for assignment in myAssignments %}
                        <tr>
                            <td>{{ assignment.id}}</td>
                            <td>{{assignment.assignment_name}}</td>
                            <td>{{assignment.assignment_desc}}</td>
                            <td><a href="/update/{{ assignment.id}}">Edit Assignment</a></td>

                            <td><a href="/deleteAssignment/{{ assignment.id}}" class="btn btn-outline-danger">Delete</a></td>

                            </tr>
                        {% endfor %}
                </table>
                <a href="add/assignment" class="btn btn-success" role="button" aria-pressed="true">Add Assignment</a>
            </div>
        </div>


{% endblock %}