{# Index HTML #}
{% extends "base.html" %}

{% block content%}

<div class="container">
  <br>
  <h1 class="text-center">Jeremy and Tao's Gradebook Project</h1>
  <div style="text-align: center">
    <br>
    <p class="text-center">Select one of the following links below to view or edit students, assignments and/or grades.
        <br>You may also use the quick link dropdown in the navigation bar. </p>
    <br>
    <a href="/students">Students</a>
    <br>
    <a href="/assignments">Assignments</a>
    <br>
    <a href="/grades">Grades</a>
    <br>
    <a href="/sort">All Students in Alphabetical Order by Last Name</a>
 </div>

{% endblock %}