{# Students HTML #}
{% extends "base.html" %}

{% block content%}
<div class="container">
        <div class="row">
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Major</th>
                            <th scope="col">Email</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                        {% for student in students %}
                        <tr>
                            <td>{{student.id}}</td>
                            <td>{{student.fname}}</td>
                            <td>{{student.lname}}</td>
                            <td>{{student.major}}</td>
                            <td>{{student.email}}</td>
                            <td><a href="/edit/{{student.id}}">Edit Student</a></td>

                            <td><a href="/delete/{{ student.id}}" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        {% endfor %}
                </table>
                <a href="add/students" class="btn btn-success" role="button" aria-pressed="true">Add Student</a>
            </div>
        </div>

{% endblock %}